[Unit]
Description=Pi webcam service

[Service]
Type=simple
ExecStart=/opt/uvc-gadget/piwebcam
User=cam
Group=cam
WorkingDirectory=/opt/uvc-gadget/
Restart=always
PermissionsStartOnly=true
ExecStartPre=/opt/uvc-gadget/multi-gadget.sh

[Install]
WantedBy=basic.target
